@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #753131;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #724c4c;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Montserrat", sans-serif;
}
