@import "tailwindcss";

:root {
  --background-image: url('/img/background.png');
  --foreground: #75313100;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #724c4c00;
    --foreground: #ededed00;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Montserrat", sans-serif;
}
